.update__page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-form {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.navigation-forms {
  padding-top: 20px;
  padding-bottom: 30px;
}