.all{
    display: grid;
    grid-template-columns: 450px 1fr;
    gap: 2rem;


}

/* .right{
    gap: 1.5rem;
} */
.size{
    display: flex;
}
.hi button{
    width: 30px;
    height: 30px;
    border: none;
    
    background-color: #f1f1f1;
    color: #333;
    font-size: 18px;
    
    cursor: pointer;
    outline: none;
}
/* .hi span{
    margin: 0 10px;
    font-size: 13px;
} */
.hi button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    
    
  }
.hi input{
    width: 30px;
    height: 30px;
    border: none;
    
    background-color: #f1f1f1;
}
  input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    
  }
 .add{
    display: flex;
 }
.addtocart Button{
    margin-top: 11px;
    margin-left: 24px;
    border-radius: 0px;
    background-color: #1D1F22;
    color: #FFFFFF;
    border: none;
    font-size: 14px;
    width: 300px;
}
hr{
    color: inherit;
    border-top-width: 1px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.text{
    font-size: 26px;
    color: #1D1F22;
    margin-bottom: 16px;
}
.content{
    max-height: 250px;
    padding-right: 1rem;
    overflow: auto;
}
.box p{
    color: #1D1F22;
    font-size: 16px;
    padding: 29px;
    line-height: 1.5;
}
.right .pride{
    font-size: 18px;
    color: #1D1F22;
    line-height: 29px;
}