.headerLayout {
  display: flex;
  width: 100%;
  gap: 5.6rem;
  // color: black;
  // align-items: center;
  // justify-content: space-between;
  background-color: white;
  max-height: 80px;
}

.contentLayout {
  background-color: #fff;
}