* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

.ant-tabs-nav-wrap {
  .ant-tabs-tab-btn {
    color: black !important;
  }
  .ant-tabs-ink-bar {
    background: black !important;
  }

}